<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_VaryCookie>
            <version>0.0.0</version>
        </Aligent_VaryCookie>
    </modules>
    <global>
        <models>
            <aligent_varycookie>
                <class>Aligent_VaryCookie_Model</class>
            </aligent_varycookie>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <type>singleton</type>
                    <class>Aligent_VaryCookie_Model_Observer</class>
                    <method>setKeysFromCookie</method>
                </observers>
            </controller_front_init_before>
            <controller_front_send_response_before>
                <observers>
                    <aligent_varycookie>
                        <type>singleton</type>
                        <class>Aligent_VaryCookie_Model_Observer</class>
                        <method>setVaryCookie</method>
                    </aligent_varycookie>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
</config>