<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_VaryCookie>
            <version>0.0.0</version>
        </Aligent_VaryCookie>
    </modules>
    <global>
        <models>
            <aligent_varycookie>
                <class>Aligent_VaryCookie_Model</class>
            </aligent_varycookie>
        </models>
        <events>
            <!-- Note, controller_front_init_before must go in global. front doesn't exist at this point. -->
            <controller_front_init_before>
                <observers>
                    <aligent_varycookie_setkeys>
                        <type>model</type>
                        <class>aligent_varycookie/observer</class>
                        <method>setKeysFromCookie</method>
                    </aligent_varycookie_setkeys>
                </observers>
            </controller_front_init_before>
            <controller_front_send_response_before>
                <observers>
                    <aligent_varycookie_setcookie>
                        <type>model</type>
                        <class>aligent_varycookie/observer</class>
                        <method>setVaryCookie</method>
                    </aligent_varycookie_setcookie>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
</config>